.detail {
  background-color: white;
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  align-items: center;
  justify-content: normal;
  gap: 50px;

  div:nth-child(1) {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    img {
      width: 90px;
      height: 90px;
      transition: all 1s;
    }

    img:hover {
      transform: rotate(360deg);
    }
  }

  div:nth-child(2) {
    line-height: 2;
    text-align: left;

    span {
      font-weight: bold;
      color: #333;
    }
  }
}

.isLoading,
.emptyData {
  text-align: center;
  padding-top: 14px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}

.tdProfit {
  font-size: 15px;
  color: #12f98a;
  font-weight: bold;
}

.tdLoss {
  font-size: 15px;
  color: #f91257;
  font-weight: bold;
}
